@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class=" vh-100 d-flex justify-content-center align-items-center">
  <div class="alert alert-danger">
    <strong>STOP RIGHT THERE!</strong> You are not allowed to see this page! Go where you came from! <br />
    <button class="btn btn-success mt-2" onclick="history.back();" >Ok.</button>
    <button class="btn btn-outline-secondary mt-2 ml-2" onclick="location.href='/home/logout';">*Change personality*</button>
  </div>
</div>
