@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<button class="btn btn-dark p-2 m-2 position-fixed" onclick="history.back()">Back</button>
<div class="container-fluid text-white p-3 bg-primary" >
    <h1 class="text-center" id="Header"></h1>
</div>

<div class="container" id="Results"></div>

<script src="/js/history.js"></script>